{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Олимпиада{% endblock title %}
{% block content %}
<section class="tests-wrapper" id="tests-wrapper-anchor">
<!-- start of main section  -->
    {% if question.image %}
        <div class="test-image">
            <img src="{{ question.image.url }}" alt="">
        </div>
<!--  image of question  -->
    {% endif %}
    <div class="test-counter" id='test-counter-id'>
        <span id="babos">{{ question.question }}</span> 
    </div>
<!--  number of question  -->
    <div class="tests-button-group">
        <a href="{% url 'tests' %}" class="test-button test-bnt" style="text-decoration:none; font-size:16px;color:#fff;    border: solid 0px black;" >Вернуться к вопросам</a>
    </div>
<!--  button's group at question page  -->
    {% if not completed %}
        <form action="{% url 'answer' id=id %}" method="POST">
            {% csrf_token %}
            {% render_field form.answer id="test-answer-id" class="test-detail-answer" style="background:transparent; border:solid 2px black;padding:22px 16px; border-radius:3px;outline:none;width:214px;" placeholder='Впишите Ваш ответ: ' %}
        <button type="submit" class="test-button test-prev">Ответить</button>
    </form>
<!--  !answer form  -->
{% else %}
    {{ completed }}
{% endif %}
</section>
{% endblock content %}