{% extends 'base.html' %}
{% load static %}
{% block title %}
    Олимпиада - Штерн
{% endblock %}
{% block content %}
<img class="desktop-nav-arrow" src="{% static 'images/desktop-nav-arrow.png' %}" alt="">
<div class="desktop-nav">
    <div class="nav-logo">
        <a href="{% url 'auth_user' %}">
            <img src="{% static 'images/shtern-logo.svg' %}" alt="">
        </a>
    </div>
    <ul class="desktop-nav-list">
        <li class="desktop-nav-item ">
            <a href="{% url 'auth_user' %}">
                <img src="{% static 'images/logo-icon.svg' %}" alt="">
                Главная
            </a>
        </li>
        <li class="desktop-nav-item desktop-nav-item_active">
            <a href="{% url 'question' category_slug=category_slug slug=slug %}">
                <img src="{% static 'images/olymp-icon.svg' %}" alt="">
                Олимпиада
            </a>
        </li>
        <li class="desktop-nav-item">
            <a href="{% url 'profile' %}">
                <img src="{% static 'images/profile-icon.svg' %}" alt="">
                Профиль
            </a>
        </li>
        <li class="desktop-nav-item">
            <a href="{% url 'documents' %}">
                <img src="{% static 'images/document-icon.svg' %}" alt="">
                Документы
            </a>
        </li>
    </ul>
    <div class="desktop-nav-social">
        <div class="site-link">
            <a href="//www.schoolofsciences.ru">
                www.schoolofsciences.ru
            </a>
        </div>
        <ul class="desktop-nav-social_list">
            <li>
                <a href="//vk.com/schoolofsciences/">
                    <img src="{% static 'images/social-icon-vk.svg' %}" alt="">
                </a>
            </li>
            <li>
                <a href="//instagram.com/schoolofsciences/">
                    <img src="{% static 'images/social-icon-instagram.svg' %}" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="olympiad-page">
    <div class="inner">
            <div class="question-timer">Осталось: 
                <span id="olymp-timer">
                    <div class="timer" id="timer">
                        
                    <script>
                        setTimeout(function (){
                            $('#preloader').remove()
                        },4000)
                        function timer() {
                            let deadline = JSON.parse('{{ end_olymp_user|safe }}');
                                function getTimeRemaining(endtime) {
                                    let t = Date.parse(endtime) - Date.parse(new Date())
                                    let seconds = Math.floor((t / 1000) % 60)
                                    let minutes = Math.floor((t / 1000 / 60) % 60)
                                    let hours = Math.floor((t / (1000 * 60 * 60)) % 24);
                                    let days = Math.floor(t / (1000 * 60 * 60 * 24));
                                    return {
                                        'total': t,
                                        'days': days,
                                        'hours': hours,
                                        'minutes': minutes,
                                        'seconds': seconds
                                    };
                                }
                            
                            function initializeClock(id, endtime) {
                                let timer = document.getElementById(id);
                                function updateClock() {
                                    let t = getTimeRemaining(endtime);
                                    timer.innerHTML = timer.innerHTML = ` ${t.hours}ч. ${t.minutes}мин.`
                                    if (t.local <= 0) {
                                        clearInterval(timeinterval);  
                                    }
                                }
                                updateClock();
                                let timeInterval = setInterval(updateClock,1000)
                            }
                            initializeClock('timer', deadline);
                        }
                        timer()
                    </script>
                    </div>
                </span>
            </div>
            
            <div class="box">
            
            {% for question in questions %}
                <div class="slide" data-index="{{ forloop.counter }}">
                   <div class="top">
                        <p>
                            {{ question.question|safe }}
                        </p>
                        {% if question.image %}
                            <img src="{{ question.image.url }}"/>
                        {% endif %}
                    </div>
                    <form action="{% url 'question' category_slug=category_slug slug=slug %}" method="POST">
                        <div class="bottom">
                            {% csrf_token %}
                            <p>Ответ:</p> 
                        <div class="inputs">
                            <input name="answer" type="text">
                            <input name="id" type="hidden" value="{{ question.id }}">
                            <button type="submit">Ответить</button>
                        </div>
                    </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        <div class="navigation">
            <button class="olymp-slider-prev">
                <img src="{% static 'images/arrow.svg' %}" alt="">
            </button>
            <ul class="olymp-slider-menu">
                {% for question in questions %}
                    <li class="olymp-slider-item" data-index="{{ forloop.counter }}">
                        {{ forloop.counter }}
                    </li>
                {% endfor %}
            </ul>
            <button class="olymp-slider-next">
                <img src="{% static 'images/arrow.svg' %}" alt="">
            </button>
        </div>
        {% comment %}
        <span>Начать</span><br><span>олимпиаду</span>
        <div class="button">
            <a href="{{ event.get_absolute_url }}">Закончить олимпиаду</a>
        </div>
        {% endcomment %}
    </div>
</div>
<!-- <div class="dialog-layer  olymp">
    <div class="content">
        <div class="box">
            <div class="question-timer">Осталось: 
                <span id="olymp-timer">
                    <div class="timer" id="timer">
                    <script>
                        setTimeout(function (){
                            $('#preloader').remove()
                        },4000)
                        function timer() {
                            let deadline = JSON.parse('{{ end_olymp_user|safe }}');
                                function getTimeRemaining(endtime) {
                                    let t = Date.parse(endtime) - Date.parse(new Date())
                                    let seconds = Math.floor((t / 1000) % 60)
                                    let minutes = Math.floor((t / 1000 / 60) % 60)
                                    let hours = Math.floor((t / (1000 * 60 * 60)) % 24);
                                    let days = Math.floor(t / (1000 * 60 * 60 * 24));
                                    return {
                                        'total': t,
                                        'days': days,
                                        'hours': hours,
                                        'minutes': minutes,
                                        'seconds': seconds
                                    };
                                }
                            
                            function initializeClock(id, endtime) {
                                let timer = document.getElementById(id);
                                function updateClock() {
                                    let t = getTimeRemaining(endtime);
                                    timer.innerHTML =timer.innerHTML = `${t.days}дн. ${t.hours}ч. ${t.minutes}мин.`
                                    if (t.total <= 0) {
                                        clearInterval(timeinterval);
                                    }
                                }
                                updateClock();
                                let timeInterval = setInterval(updateClock,1000)
                            }
                            initializeClock('timer', deadline);
                        }
                        timer()
                    </script>
                    </div>
                </span>
            </div>
            <div class="question-slider">
                {% for question in questions %}
                <div class="slide" data-index="{{ question.id }}">
                    <img src="{% static 'images/start-olymp-box.svg' %}" alt="">                    
                    <div class="text">
                        {{ question.question }}
                    </div>
                    место для фотки
                    {% if question.image %}
                    <img src="{{ question.image.url }}"/>
                    {% endif %}
                    <div class="answer">
                        <form action="{% url 'question' category_slug=category_slug slug=slug %}" method="POST">
                            {% csrf_token %}
                            <p>Ответ:</p>
                            <input name="answer" type="text">
                            <input name="id" type="hidden" value="{{ question.id }}">
                            <button type="submit">Ответить</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if nothing_answer %}
             {{ nothing_answer }}
            {% endif %}
            <div class="navigation">
                <button class="olymp-slider-prev">
                    <img src="{% static 'images/arrow.svg' %}" alt="">
                </button>
                <ul class="olymp-slider-menu">
                    {% for question in questions %}
                        <li class="olymp-slider-item">
                            {{ question.id }}
                        </li>
                    {% endfor %}
                </ul>
                <button class="olymp-slider-next">
                    <img src="{% static 'images/arrow.svg' %}" alt="">
                </button>
            </div>
            <div class="button">
                <a href="{{ event.get_absolute_url }}">Закончить олимпиаду</a>
            </div>
        </div>
    </div>
</div> -->
<div class="bg-layer">
    <div class="content">
        <img class="bg-timer-layer-item" id="bg-timer-layer-item-1" src="{% static 'images/bg-layer-1.svg' %}" alt="">
        <img class="bg-timer-layer-item" id="bg-timer-layer-item-2" src="{% static 'images/bg-layer-2.svg' %}" alt="">
        <img class="bg-timer-layer-item" id="bg-timer-layer-item-3" src="{% static 'images/bg-layer-3.svg' %}" alt="">
        <img class="bg-timer-layer-item" id="bg-timer-layer-item-4" src="{% static 'images/bg-layer-4.svg' %}" alt="">
        <img class="bg-timer-layer-item" id="bg-timer-layer-item-5" src="{% static 'images/bg-layer-5.svg' %}" alt="">
        <img class="bg-timer-layer-item" id="bg-timer-layer-item-6" src="{% static 'images/bg-layer-3.svg' %}" alt="">
    </div>
</div>
<div class="template-wrap index-layer olymp-layer">
   <div class="content-layer">
        <div class="site-visit" style="z-index: 21;">
            <div class="social-links" style="z-index: 21;">
                <ul class="social-list">
                <li class="social-item">
                    <a class="social-link" href="//vk.com/schoolofsciences/">
                    <!--<img class="social-image vk vk-white" src="{% static 'images/social-icon-vk-white.svg' %}" alt=""> -->
                        <svg class="social-image dark vk" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.55 50.55">
                            <defs>
                                <style>.cls-1{isolation:isolate;}.cls-2{mix-blend-mode:multiply;}.cls-3{fill:#fff;}</style>
                            </defs>
                            <title>social-icon-vk</title>
                            <g class="cls-1">
                                <g id="Слой_2" data-name="Слой 2">
                                    <g id="Слой_1-2" data-name="Слой 1">
                                        <path class="cls-3" d="M61.73,86.77A25.27,25.27,0,1,1,87,61.5,25.3,25.3,0,0,1,61.73,86.77Zm0-48.8A23.53,23.53,0,1,0,85.26,61.5,23.56,23.56,0,0,0,61.73,38Z" transform="translate(-36.45 -36.23)"/>
                                        <path class="cls-3"
                                              d="M47.05,54h5.31a.52.52,0,0,1,.47.31,31,31,0,0,0,4.49,7.15.36.36,0,0,0,.64,0c.55-1.36,1.58-4.67-.41-7a.41.41,0,0,1,.15-.65,7.18,7.18,0,0,1,5.91-.1,1.12,1.12,0,0,1,.67,1l.45,6.8a.49.49,0,0,0,.57.48c2.22-.47,3.53-3.79,4.82-7.25a1.08,1.08,0,0,1,1-.72H76a.65.65,0,0,1,.65.75c-.46,2.46-2.93,5.65-4.22,7.18a1.43,1.43,0,0,0,0,1.84L76.8,69a.58.58,0,0,1-.44,1H70.83a1.61,1.61,0,0,1-1.19-.53l-3.86-3.21a.53.53,0,0,0-.77-.07c-.48.58-.44,1.3-.67,2.93a1,1,0,0,1-1,.88H59.52A3.58,3.58,0,0,1,58,69.58c-2.17-1-8.09-4.67-11.42-14.87A.53.53,0,0,1,47.05,54Z"
                                              transform="translate(-36.45 -36.23)"/>
                                        <path class="cls-3" d="M61.73,86.77A25.27,25.27,0,1,1,87,61.5,25.3,25.3,0,0,1,61.73,86.77Zm0-48.8A23.53,23.53,0,1,0,85.26,61.5,23.56,23.56,0,0,0,61.73,38Z" transform="translate(-36.45 -36.23)"/>
                                        <path class="cls-3"
                                              d="M47.05,54h5.31a.52.52,0,0,1,.47.31,31,31,0,0,0,4.49,7.15.36.36,0,0,0,.64,0c.55-1.36,1.58-4.67-.41-7a.41.41,0,0,1,.15-.65,7.18,7.18,0,0,1,5.91-.1,1.12,1.12,0,0,1,.67,1l.45,6.8a.49.49,0,0,0,.57.48c2.22-.47,3.53-3.79,4.82-7.25a1.08,1.08,0,0,1,1-.72H76a.65.65,0,0,1,.65.75c-.46,2.46-2.93,5.65-4.22,7.18a1.43,1.43,0,0,0,0,1.84L76.8,69a.58.58,0,0,1-.44,1H70.83a1.61,1.61,0,0,1-1.19-.53l-3.86-3.21a.53.53,0,0,0-.77-.07c-.48.58-.44,1.3-.67,2.93a1,1,0,0,1-1,.88H59.52A3.58,3.58,0,0,1,58,69.58c-2.17-1-8.09-4.67-11.42-14.87A.53.53,0,0,1,47.05,54Z"
                                              transform="translate(-36.45 -36.23)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="//instagram.com/schoolofsciences/">
                    <!--<img class="social-image instagram instagram-white"  src="{% static 'images/social-icon-instagram-white.svg' %}" alt="">--> 
                       <svg class="social-image dark instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.55 50.55">
                            <defs>
                                <style>.cls-1{isolation:isolate;}.cls-2{mix-blend-mode:multiply;}.cls-3{fill:#fff;}</style>
                            </defs>
                            <title>social-icon-instagram</title>
                            <g class="cls-1">
                                <g id="Слой_2" data-name="Слой 2">
                                    <g id="Слой_1-2" data-name="Слой 1">
                                        <path class="cls-3" d="M61.73,86.89A25.27,25.27,0,1,1,87,61.62,25.31,25.31,0,0,1,61.73,86.89Zm0-48.8A23.53,23.53,0,1,0,85.26,61.62,23.56,23.56,0,0,0,61.73,38.09Z" transform="translate(-36.45 -36.35)"/>
                                        <path class="cls-3"
                                              d="M68,75.39H55.45A7.5,7.5,0,0,1,48,67.89V55.34a7.5,7.5,0,0,1,7.49-7.49H68a7.5,7.5,0,0,1,7.5,7.49V67.89A7.5,7.5,0,0,1,68,75.39ZM55.45,49.24a6.11,6.11,0,0,0-6.1,6.1V67.89A6.11,6.11,0,0,0,55.45,74H68a6.11,6.11,0,0,0,6.1-6.11V55.34a6.11,6.11,0,0,0-6.1-6.1Z"
                                              transform="translate(-36.45 -36.35)"/>
                                        <path class="cls-3" d="M61.73,70.16a8.54,8.54,0,1,1,8.54-8.54A8.55,8.55,0,0,1,61.73,70.16Zm0-15.69a7.15,7.15,0,1,0,7.14,7.15A7.16,7.16,0,0,0,61.73,54.47Z" transform="translate(-36.45 -36.35)"/>
                                        <path class="cls-3" d="M71.49,53.49a1.29,1.29,0,1,1-2.57,0,1.29,1.29,0,0,1,2.57,0Z" transform="translate(-36.45 -36.35)"/>
                                        <path class="cls-3" d="M61.73,86.89A25.27,25.27,0,1,1,87,61.62,25.31,25.31,0,0,1,61.73,86.89Zm0-48.8A23.53,23.53,0,1,0,85.26,61.62,23.56,23.56,0,0,0,61.73,38.09Z" transform="translate(-36.45 -36.35)"/>
                                        <path class="cls-3"
                                              d="M68,75.39H55.45A7.5,7.5,0,0,1,48,67.89V55.34a7.5,7.5,0,0,1,7.49-7.49H68a7.5,7.5,0,0,1,7.5,7.49V67.89A7.5,7.5,0,0,1,68,75.39ZM55.45,49.24a6.11,6.11,0,0,0-6.1,6.1V67.89A6.11,6.11,0,0,0,55.45,74H68a6.11,6.11,0,0,0,6.1-6.11V55.34a6.11,6.11,0,0,0-6.1-6.1Z"
                                              transform="translate(-36.45 -36.35)"/>
                                        <path class="cls-3" d="M61.73,70.16a8.54,8.54,0,1,1,8.54-8.54A8.55,8.55,0,0,1,61.73,70.16Zm0-15.69a7.15,7.15,0,1,0,7.14,7.15A7.16,7.16,0,0,0,61.73,54.47Z" transform="translate(-36.45 -36.35)"/>
                                        <path class="cls-3" d="M71.49,53.49a1.29,1.29,0,1,1-2.57,0,1.29,1.29,0,0,1,2.57,0Z" transform="translate(-36.45 -36.35)"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
                </ul>
            </div>
            <p>Посетите наш сайт :)</p>
            <p><a class="site-visit-link" href="//schoolofsciences.ru/">www.schoolofsciences.ru</a></p>
        </div>
    </div>
</div>
<footer class="footer" id="footer">
    <div class="footer-images">
        <img class="stripes" src="{% static 'images/bg-layer-7.svg' %}" alt="">
    </div>
    {% include "footer-div.html" %}
</footer>
<!--<div id="preloader"></div>-->
{% comment %}
<div class="timeout-modal">
    <div class="content">
        <div class="image">
            <img src="{% static 'images/attetion.svg' %}" alt="">
        </div>
        <div class="text">
            <p>Время, отведенное на олимпиаду вышло =С</p>
            <form action="" method="post">
                <button type="submit">Сдать олимпиаду</button>
            </form>
            <div class="button">
                <a href="{{ event.get_absolute_url }}">Закончить олимпиаду</a>
            </div>
        </div>
    </div>
</div>
{% endcomment %}

{% endblock content %}
