{% extends 'base.html' %}
{% load static %}
{% block title %}Правила олимпиады{% endblock title %}
{% block content %}
<section class="olymp-content" id="olu-content-anchor">
    <div class="olypm-content-wrapper">
        <!--    start a main section    -->
        <div class="olymp-content-image">
            <!--            -->
            <div class="olymp-content-text" id="start-olymp-id"><a href="{% url 'tests' %}">Начать <br>олимпиаду</a></div>
<!--        main button        -->
            <div class="olymp-text-rules-content">
<!--       rules textBox         -->
                <p>
                    Порядок участия в онлайн-олимпиаде:
                </p>
                <br>
                <p> 1. Регистрация на сайте.
                </p>
                <p> 2. Оплата оргвзноса (300р).

                </p>
                <p> 3. После оплаты Вы будете перенаправлены на страницу старта олимпиады. Вы можете начать олимпиаду в любой удобный для Вас момент.

                </p>
                <p> 4. Время на написание олимпиады строго фиксировано. По его истечении сеанс будет автоматически завершен:
                    <br>
                    - Для 1-3 класса время составляет 1 час
                    <br>
                    -Для 4 класса 1 час 15 минут
                    <br>
                    -Для 5-7 класса 1 час 30 минут
                    <br>
                    -Для 8 класса 1 час 45 минут

                </p>
                <p> 5. Результаты будут объявлены через неделю и придут Вам на почту.</p>
                <p>
                    6. Победители получат бесплатные занятия в нашей Школе и на других математических кружках Москвы.</p>
            </div>


        </div>
    </div>
</section>
{% endblock content %}
