{% extends 'base.html' %}
{% load static %}
{% block title %}Все вопросы{% endblock title %}
{% block content %}
<div class="central-container">
<section class="tests-wrapper" id="tests-wrapper-anchor">
<div class="timer-box" style="width:200px;margin-bottom: 24px">
<!--  olymp timer, setted different timer to different classes  -->
    <script src="{{ link_timer }}"></script>
</div>
<p class="tetx">Для перехода к заданию нажмите на него</p>
{% for qs in question %}
    <a href="{% url 'answer' id=qs.id %}">
{{ qs.question }}
</a>

{% endfor %}
<a class="test-button test-end" href="{% url 'final' %}">Закончить олимпиаду</a>
</section>
</div>
{% endblock content %}
