@keyframes move-1 {
  0% {
    right: 25%;
    bottom: 25%;
  }
  5% {
    right: 50%;
    bottom: 0;
  }
  10% {
    right: 100%;
    bottom: 35%;
  }
  15% {
    bottom: 75%;
    right: 0;
  }
  20% {
    bottom: 0;
    right: 85%;
  }
  25% {
    right: 100%;
    bottom: 40%;
  }
  30% {
    bottom: 100%;
    right: 45%;
  }
  35% {
    right: 0;
    bottom: 0;
  }
  40% {
    right: 85%;
    bottom: 100%;
  }
  50% {
    right: 100%;
    bottom: 75%;
  }
  55% {
    right: 50%;
    bottom: 0;
  }
  60% {
    bottom: 55%;
    right: 0;
  }
  65% {
    bottom: 100%;
    right: 55%;
  }
  70% {
    bottom: 0;
    right: 75%;
  }
  75% {
    right: 100%;
    bottom: 20%;
  }
  80% {
    bottom: 100%;
    right: 85%;
  }
  85% {
    right: 0;
    bottom: 20%;
  }
  90% {
    right: 100%;
    bottom: 15%;
  }
  95% {
    right: 10%;
    bottom: 100%;
  }
  100% {
    bottom: 25%;
    right: 35%;
  }
}

@keyframes move-2 {
  0% {
    right: 30%;
    bottom: 20%;
  }
  5% {
    bottom: 100%;
    right: 80%;
  }
  10% {
    right: 100%;
    bottom: 60%;
  }
  15% {
    bottom: 0;
    right: 80%;
  }
  20% {
    right: 0;
    bottom: 15%;
  }
  25% {
    bottom: 100%;
    right: 40%;
  }
  30% {
    bottom: 0;
    right: 70%;
  }
  35% {
    right: 100%;
    bottom: 100%;
  }
  40% {
    right: 10%;
    bottom: 0;
  }
  45% {
    bottom: 100%;
    right: 15%;
  }
  50% {
    bottom: 0;
    right: 100%;
  }
  55% {
    right: 0;
    bottom: 15%;
  }
  60% {
    right: 100%;
    bottom: 25%;
  }
  65% {
    right: 0;
    bottom: 40%;
  }
  70% {
    right: 100%;
    bottom: 75%;
  }
  75% {
    bottom: 100%;
    right: 70%;
  }
  80% {
    bottom: 0;
    right: 35%;
  }
  85% {
    right: 100%;
    bottom: 25%;
  }
  90% {
    bottom: 100%;
    right: 50%;
  }
  95% {
    bottom: 0;
    right: 0;
  }
  100% {
    right: 30%;
    bottom: 20%;
  }

}

@keyframes move-3 {
  0% {
    right: 10%;
    bottom: 45%;
  }
  5% {
    right: 0;
    bottom: 20%;
  }
  10% {
    bottom: 0;
    right: 85%;
  }
  15% {
    right: 100%;
    bottom: 20%;
  }
  20% {
    bottom: 0;
    right: 20%;
  }
  25% {
    right: 0;
    bottom: 25%;
  }
  30% {
    right: 100%;
    bottom: 40%;
  }
  35% {
    right: 0;
    bottom: 60%;
  }
  40% {
    right: 100%;
    bottom: 80%;
  }
  45% {
    bottom: 100%;
    right: 50%;
  }
  50% {
    right: 0;
    bottom: 65%;
  }
  55% {
    bottom: 45%;
    right: 100%;
  }
  60% {
    bottom: 0;
    right: 35%;
  }
  65% {
    right: 0;
    bottom: 20%;
  }
  70% {
    right: 100%;
    bottom: 35%;
  }
  75% {
    right: 0;
    bottom: 65%;
  }
  80% {
    bottom: 100%;
    right: 100%;
  }
  85% {
    bottom: 0;
    right: 0;
  }
  90% {
    bottom: 65%;
    right: 100%;
  }
  95% {
    bottom: 100%;
    right: 15%;
  }
  100% {
    right: 10%;
    bottom: 45%;
  }
}

@keyframes move-4 {
  0% {
    right: 75%;
    bottom: 45%;
  }
  5% {
    right: 0;
    bottom: 35%;
  }
  10% {
    right: 100%;
    bottom: 25%;
  }
  15% {
    right: 0;
    bottom: 10%;
  }
  20% {
    right: 100%;
    bottom: 0;
  }
  25% {
    right: 0;
    bottom: 15%;
  }
  30% {
    right: 100%;
    bottom: 25%;
  }
  35% {
    right: 0;
    bottom: 35%;
  }
  40% {
    right: 100%;
    bottom: 55%;
  }
  45% {
    right: 0;
    bottom: 65%;
  }
  50% {
    right: 100%;
    bottom: 75%;
  }
  55% {
    right: 0;
    bottom: 85%;
  }
  60% {
    right: 100%;
    bottom: 95%;
  }
  65% {
    right: 0;
    bottom: 85%;
  }
  70% {
    right: 100%;
    bottom: 75%;
  }
  75% {
    right: 0;
    bottom: 65%;
  }
  80% {
    right: 100%;
    bottom: 50%;
  }
  85% {
    right: 0;
    bottom: 40%;
  }
  90% {
    right: 100%;
    bottom: 30%;
  }
  95% {
    right: 0;
    bottom: 40%;
  }
  100% {
    right: 75%;
    bottom: 45%;
  }
}

@keyframes move-5 {
  0% {
    right: 50%;
    bottom: 80%;
  }
  5% {
    bottom: 0;
    right: 65%;
  }
  10% {
    bottom: 100%;
    right: 75%;
  }
  15% {
    bottom: 0;
    right: 85%;
  }
  20% {
    bottom: 100%;
    right: 95%;
  }
  25% {
    bottom: 0;
    right: 80%;
  }
  30% {
    bottom: 100%;
    right: 0;
  }
  35% {
    bottom: 0;
    right: 70%;
  }
  40% {
    bottom: 100%;
    right: 60%;
  }
  45% {
    bottom: 0;
    right: 50%;
  }
  50% {
    bottom: 100%;
    right: 35%;
  }
  55% {
    bottom: 0;
    right: 25%;
  }
  60% {
    bottom: 100%;
    right: 15%;
  }
  65% {
    bottom: 0;
    right: 5%;
  }
  70% {
    bottom: 100%;
    right: 10%;
  }
  75% {
    bottom: 0;
    right: 20%;
  }
  80% {
    bottom: 100%;
    right: 30%;
  }
  85% {
    bottom: 0;
    right: 40%;
  }
  90% {
    bottom: 100%;
    right: 45%;
  }
  95% {
    bottom: 0;
    right: 50%;
  }
  100% {
    right: 50%;
    bottom: 80%;
  }
}

@keyframes move-6 {
  0% {
    right: 85%;
    bottom: 15%;
  }
  5% {
    right: 0;
    bottom: 20%;
  }
  10% {
    bottom: 100%;
    right: 35%;
  }
  15% {
    right: 100%;
    bottom: 20%;
  }
  20% {
    bottom: 75%;
    right: 0;
  }
  25% {
    right: 0;
    bottom: 25%;
  }
  30% {
    right: 100%;
    bottom: 20%;
  }
  35% {
    right: 100%;
    bottom: 75%;
  }
  40% {
    right: 100%;
    bottom: 35%;
  }
  45% {
    bottom: 100%;
    right: 20%;
  }
  50% {
    right: 80%;
    bottom: 65%;
  }
  55% {
    bottom: 45%;
    right: 100%;
  }
  60% {
    bottom: 12%;
    right: 95%;
  }
  65% {
    right: 0;
    bottom: 20%;
  }
  70% {
    right: 100%;
    bottom: 85%;
  }
  75% {
    right: 0;
    bottom: 65%;
  }
  80% {
    bottom: 100%;
    right: 100%;
  }
  85% {
    bottom: 0;
    right: 85%;
  }
  90% {
    bottom: 65%;
    right: 100%;
  }
  95% {
    bottom: 100%;
    right: 15%;
  }
  100% {
    right: 85%;
    bottom: 15%;
  }
}


@keyframes objectMove {
  from {

  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rocketMove {
  0% {
    bottom: 10%;
    left: 10%;
    transform: scale(1);

  }
  50% {
    bottom: 8%;
    left: 20%;
    transform: scale(0.8) rotateZ(15deg);
  }
  100% {
    transform: scale(1);

    bottom: 10%;
    left: 10%;
  }
}

@keyframes planetMove {
  0% {

  }
  50% {
    transform: rotate(360deg) scale(1.45);

  }
  100% {

  }
}