$yellow:#f6e55c;
$turquoise:#61a3bb;
$lightGreen:#a1c98c;
$darkRed:#b75253;
$lightRed:#e07061;
$brown:#444242;
$pink: #C211A1;
$purple:#400b69;
$darkPurple:#230159;
$timerDialogPaddings: 0 3.4vw 0 3vw;
