{% load static %}
<div class="content-layer">
    <div class="site-visit">
       <div class="social-links">
            <ul class="social-list">
                <li class="social-item">
                <a class="social-link" href="//vk.com/schoolofsciences/">
                    <img class="social-image vk" src="{% static 'images/social-icon-vk.svg' %}" alt="">
                </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="//instagram.com/schoolofsciences/">
                        <img class="social-image instagram" src="{% static 'images/social-icon-instagram.svg' %}" alt="">
                    </a>
                </li>
            </ul>
        </div> 
        <p>Посетите наш сайт :)</p>
        <p><a class="site-visit-link" href="//schoolofsciences.ru/">www.schoolofsciences.ru</a></p>
    </div>
</div>